@import url(//fonts.googleapis.com/css?family=Nunito);


.btn-primary {
  color: #fff;
  /* background-color: #0d6efd; */
  /* border-color: #0d6efd; */
}


@media only screen and (max-width:458px){
.body-div{
  display: flex;
  flex-wrap: wrap;
}

#navbarTogglerDemo01{
  display: flex;
  flex-direction: column;
  padding-right: 89px;
  }
  .response{
    display: flex;
    flex-direction: column;
  }
}


  


body {
  font-family: 'Nunito', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  font-size: 18px;
 
}

.body-div{
  margin-left: 20px;
  margin-right:20px
}
.nav-link {
  color: white;
  display: block;
  padding: 0.5rem 1rem;
}
.searchbar{
  border-radius: 30px;
  top:50%;
  left:50%;
width: 16rem;
display: grid;

grid-template-columns: 1fr 3rem;
align-items: center;
-webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: inset 0 0 0 2000px rgba(237, 235, 250, 0.1);;
height: 50px;

}

.searchbar input{
  font-size: 15px;
  padding: 6px;
  outline: 0;
  border: 0;
 background-color: transparent;
  color:#ffff
}

.searchbar input::placeholder{
color: #fcfcfc;
padding: 10px;

}
.searchbtn{
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 15px;
  width: 18px;
  display: grid;
  place-items: center;
}
.content-text {

  font-weight: 500,

}.client-text-para{
  font-size: 14px;
  font-weight: 300;
}
.content-text-para1{
  font-size: 16px;
  font-weight:900;
}
.client-text{
  font-size: 18px;
  margin-left: 6px;
  font-weight: 600;
}
.btn-color {
  color: white;
  background-color: #fd7e14;
}
img{
    border-radius: 50%;
    width: 40px;
}

.content-text-para {
  font-weight: 700;

  font-size: 14px;

}

.btn-color {
  color: white;
  background-color: #fd7e14;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(to left, #f1979e, #fd7e14)
}

.image-navbar {
  width: 30px;
}
.image-body{
  width:30px
  
}
.image-body1{
  width: 30px;
  height: 40px;
  border-radius: 20%;

}
.image-dropdown{
  width: 24px;
  height: 14px;
  border-radius: 2px;

}
.navbar {
  background: linear-gradient(to left, rgb(181 18 88), #fd7e14);
  width: 100%;
}
.dropdown{

 color: white;
}

.navbar-icon{
  font-family: 'Nunito', sans-serif;
  color: #ffff;
  font-weight: 300;
 
  font-size: 18px;
  padding-left: 10px;
}
.navar-text {
  font-family: 'Nunito', sans-serif;
  color: #ffff;
  font-weight: 600;
  line-height: 1.58;
  font-size: 18px;
 
}

.navar-text-list {
  font-family: 'Nunito', sans-serif;
  color: #ffff;
  font-weight: 300;
  line-height: 2.58;
  font-size: 18px;
  padding-left: 10px;
}


.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
